*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;

}

header{
  background-color: #C5E1A7;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;

}

#navbar{
  background-color: #485101;

  margin-left: 10vw;
  margin-right: 10vw;
  border-radius: 100px;
}

#navbar ul {
display: flex;
justify-content: space-around;
}
#navbar ul li{
  padding: 0.5vw;
  display: inline;
  margin: 0.5%;
}

#navbar ul li a{
  border-radius: 100px;
  color: #C5E1A7;
  text-decoration: none;
  padding: 30px;
  display: inline-block;
  font-size: 20px;
  margin: 0.5%;
  transition: .4s;
}

#navbar ul li a:hover{
  border-radius: 100px;
  background-color: #C5E1A7;
  margin: 0.5%;
  color: #485101;
  font-size: 25px;
}

h1 {
    text-align: center;
    color: #C5E1A7;   
    font-size: 80px;
    padding: 40px;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    justify-content: center;
    color: white;
}

#main {
    padding-top: 10vh;
    background-color: rgb(72, 81, 1, 1);
    color: #485101;
}

.text {
    font-size: 35px;
    float: left; 
    padding: 40px;
    
    background-color: rgba(197, 225, 167, 1); 
    border-radius: 8px;
    margin-left: 10vw;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(72, 81, 1, 1);
}


footer {
    background-color:rgba(148, 166, 133, 1);
    color: #485101; 
    text-align: center;
    padding: 5px;
    margin-top: 800px;
}

.texto {
    font-size: 35px;
    width: 50%;
    float: right;
    padding: 30px; 
    background-color: rgba(197, 225, 167, 1); 
    border-radius: 20px;
     

}

a {
    position: relative;
    float: right;
    font-size: 35px; 
    color: #485101
}

.jj {
    text-align:start;
    margin-bottom: 60px;
}

@media all and (max-width: 400) {
    header {
      height: 15vh;
      flex-direction: column;
      display: play;
    }
    nav {
      justify-content: center;
      padding: 1.5em;
      width: 100vw;
    }
    section{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: auto;
    }
    h1{
      text-align: center;
    }
    #imagem{
      padding-top: 0;
    }
    #logo{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #logo img{
      max-width: 30%;
    }
  }
  
  @media all and (max-width:800px) {
    p{
      font-size: 0.7em;
    }
    #texto{
      width: 80px;
    }
    #mostrar{
      display: none;
    }
    section{
      height: 60vh;
    }
  }